extends ../../views/layout

block content
    .container
        h1 Create Auction
        //- p.lead Say something worthwhile here.
        br
        form(role='form', action="/auction/create",method="post", style='')
            .form-group
                input.form-control(type='text', name="title", placeholder='Title', required)
            .form-group
                textarea.form-control(name="description")
            .form-group
                input.form-control(type='number', name="min_bids", placeholder='Minimum Bid', required)
            .form-group
                input.form-control(type='text', id="auction_start", name="auction_start", placeholder='Auction Start', required)
            button.btn.btn-default(type='submit') Submit
            |
            |
            a(href='/')
                button.btn.btn-primary(type="button") Cancel